.footer
{
    color: black;
    background-color: #18783E;
    margin-top: 1.5em;
    box-shadow: inset 0 0 2em rgb(2, 45, 31);
    padding: 1em;
    text-transform: uppercase;
    font-size: 0.8em;
    
}

.footer__container
{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer__texto
{
    font-size: 0.7rem;
    font-weight: 500;
}
.titulo__redes
{
    text-align: center;
    font-size: 1rem;
    font-weight: 900;
}

.container__redes
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

.redes
{
    color: black;
}