.logo__ito
{   
    padding: 0.7em;
    width:90px;
    height:90px;
}

.img__icone
{
    padding: 0.7em;
    width: 50px;
    height: 50px;
}

.cabecalho
{
    background-color: #18783E;
    box-shadow: inset 0 0 0.5em rgb(2, 45, 31);
    padding: 10px;
}

.container__cabecalho
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho__icones
{
    display: flex;
    flex-direction: row;
}

.cabecalho__links
{
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-size: 18px;
    font-weight: 700;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0.5em;
    display: flex;
    justify-content: space-between;
}

.carrinho
{
    position: relative;
}

.carrinho__contador
{
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: rgb(255, 0, 0);
    padding: 2px;
    border: 1px solid rgb(255, 2, 2);
    border-radius: 10px;
    font-size: 20px;
}

.nome__login
{
    font-size: 14px;
    bottom: 10px;
    display: flex;
    align-self: center;
}

.avatar__usuario
{
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    color: black;
    text-transform: uppercase;
    font-weight: 600;
    
}

.button__Avatar 
{
 border: none;
 background-color: #ffffff00;
}